/*INDEX*/
#main {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: lightpink;
    color: #fff;
}
.navbar-brand {
    display: flex;
    align-items: center;
}

.brand-name {
    font-size: 1.5em;
    margin-right: 1em;
}
.navbar-menu {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.navbar-menu li a {
    color: #fff;
    padding: 0 1em;
    text-decoration: none;
}

.navbar-toggle {
    display: none;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar.open .navbar-menu {
        display: flex;
    }
}

.article-column {
    width: 100px;
    height: 100vh; 
    background-color: lightpink;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 12.1vh;
    margin-right: 8px;
    margin-top: 5px;
    cursor: pointer;
    z-index: 2; /* per me dal perfundi navbarit */
    padding: 1em;
    border: 1px solid white;
    writing-mode: vertical-rl;
}

#article-container {
    position: relative;
}

#article1, #article2, #article3 {
    position: absolute;
}

/* e ndreq pozicionin kur eshte webfaqja e hapne ne laptop */
#article1 { right: 0; }
#article2 { right: 108px; }
#article3 { right: 216px; } 

/* e ndreq pozicionin kur webfaqja eshte e hapt ne ekrane tvogla, responsive */
@media (max-width: 768px) {
    .article-column {
        width: 100%; 
        height: auto; 
        position: relative; 
        top: 0; 
        margin-right: 0;
    }

    #article1, #article2, #article3 {
        position: static; /* ne ekrane te vogla i merr qeto columns edhe i stack */
        right: auto;
    }
}
main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
}

.content-container {
    flex: 1; /*e mbushin hapesiren bosh*/
    display: flex;
    flex-direction: column;
    margin-right: 350px;
    margin-top: 5px;
    height: max-content;
}

.about-me {
    border: 1px solid white;
    background-color: lightpink;
    height: 386px;
}

@media (max-width: 768px) {
    .article-column {
        writing-mode: horizontal-tb;
        text-orientation: mixed;
        width: 100%; /* kur tshkojne poshte horizontalisht */
        height: 100px;
    }

    main {
        flex-direction: column;
    }

    .article-container {
        flex: 1;
    }

    .about-me {
        height: 50%;
        margin-bottom: 5px; 
    }

    .content-container {
        margin-right: 0; 
    }
    
.navbar,
.article-column {
    width: 100%;
}
.about-me{
    width: 105.5%;/*se po del about-me ma e shkurte in width se kto tjerat kur po e zvogloj krejt*/
}
}
