body {
    width: 100%;
    height: 250vh;
    margin: auto;
    background-image: url(../img/background.webp);
    background-color: bisque;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    color: #EAFFFF;
    font-family: Tahoma;
    font-size: 16px;
    margin-top: -5px;
  }
  /*navbar*/
  .navbar{
    height: 12%;
    padding: 1rem 0;
    display: flex;
    align-items: center; 
}
.logo{
    width: 5%;
    cursor: pointer;
}
.menu-icon{
    width: 20px;
    cursor: pointer;
    margin-left: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(36, 0, 70, 0.2);
    min-width: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(231, 198, 255, 0.5);
    z-index: 1;
}

.dropdown-content a {
    color: #EAFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
    color: #1f1e1e;
}
.dropdown:hover .dropdown-content {
    display: block;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 3%;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
/*quiz*/
#quizquery {
    background-color: rgba(36, 0, 70, 0.2); 
    border-radius: 10px;
    padding: 20px; 
    margin: auto;
    width: 40%; 
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgba(231, 198, 255, 0.5); 
    font-family: 'Hedvig Letters Serif', serif;
    font-size: smaller;
    color: black;
}
#quiz {
    background-color: rgba(36, 0, 70, 0.2); 
    border-radius: 10px;
    padding: 20px; 
    margin: auto;
    width: 60%; 
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgba(231, 198, 255, 0.5); 
    font-family: 'Hedvig Letters Serif', serif;
    font-size: smaller;
}
.question{
	font-weight: 600;
    text-align: left;
}
.answers {
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 20px;
}
.answers label{
  display: block;
}
#submit {
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 20px;
    background-color: rgba(36, 0, 70, 0.7);
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
#results, #fan-status{
    display: none;
}
#submit:hover {
    background-color: rgba(231, 198, 255, 0.5);
    color: #005;
}
@media screen and (min-width: 768px) {
    #quiz {
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    #quiz{
        width: 40%;
    }
}
#results, #fan-status{
    background-color: rgba(36, 0, 70, 0.2); 
    border-radius: 10px;
    padding: 20px; 
    margin: auto;
    width: 40%; 
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgba(231, 198, 255, 0.5); 
    font-family: 'Hedvig Letters Serif', serif;
    font-size: smaller;
    font-weight: bolder;
    font-style: oblique;
    color: black;
}