* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background.webp);
    background-position: center;
    background-size: cover;
    padding: 0 5%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
    padding: 1rem 0;
}

.logo {
    width: 5%;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-left: 3%;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.menu-icon {
    width: 20px;
    cursor: pointer;
    margin-left: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(36, 0, 70, 0.2);
    min-width: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(231, 198, 255, 0.5);
    z-index: 1;
}



.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    color: #EAFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.checkout {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.artikulli {
    flex: 0 0 calc(33.33% - 40px);
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    background-color: rgba(233, 227, 240, 0.2); 
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}


.artikulli:hover {
    transform: scale(1.05);
}

.artikulli img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.artikulli p {
    font-size: 16px;
    margin-top: 10px;
    color: #000000; 
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}

.artikulli a {
    text-decoration: none;
    color: inherit; 
}

.artists-section {
    text-align: center;
    margin-top: 30px;
}

.artists-section h2 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
}

.artist {
    display: inline-block;
    margin: 0 15px;
    transition: transform 0.3s ease-in-out;
}

.artist img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
}

.artist p {
    color: #fff;
    font-family: 'Foldit', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.artist:hover {
    transform: scale(1.1);
}

.artist img:hover {
    transform: scale(1.2);
}


@media screen and (max-width: 480px) {
    .logo {
        width: 30%;
    }
    .container {
        padding-left: 2%;
        padding-right: 2%;
        height: 150%
    }
    .menu-icon {
        width: 15px;
        margin-left: 5px;
    }

    nav ul li {
        margin-left: 3%;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 9px;
        line-height: 20px;
    }

    button {
        margin-top: 10px;
    }
    .col {
        flex: 1;
        max-width: 50%;
    }
    .card {
        width: 50%;
        max-width: 50%;
        height: 120px;
    }


    @media screen and (max-width: 480px) {
        .artikulli {
            flex: 0 0 calc(50% - 40px); 
        }
    }
}
    
